[Desktop Entry]
Version=1.0
Name=Cursor
Comment=The AI Code Editor
Exec=cursor
Terminal=false
Type=Application
Icon=Cursor
Categories=GTK;
StartupNotify=false

